<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <typeAliases>
        <typeAlias type="study.qi.pojo.User" alias="User"/>
    </typeAliases>

    <!--设置-->
    <!--<settings>
        <setting name="" value=""/>
    </settings>-->

</configuration>